@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.full-width {
    width: 100%;
}

.container {
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.center-content {
    text-align: center;
}


.toolbar {
    position:fixed;
    background: #fff;
    top: 0;
    left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    z-index: 200;
}

.toolbar .logo {
    font-size: 20px;
    color: #555555;
}

.logo {
    font-weight: 300;
}

.logo span {
    font-weight: 700;
}

main {
    margin-top: 52px;
}


header {
    margin-top: 52px;
    background: linear-gradient(to bottom right,
        hsla(193, 88%, 86%, 0.8),
        hsla(240, 100%, 27%, 0.8)), url("herobg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 512px;
}

.desc {
    color: #fff;
    font-weight: 300;
    font-size: 32px;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.section {
    padding-top: 64px;
    padding-bottom: 64px;
    color: #555555;
}
.profile {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: 32px;
}

.section.section-bis {
    background: #e6f7fc;
}

.section h2 {
    font-weight: 300;
}

.card {
    display: inline-block;
    background: #fff;
    margin: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: calc(100% / 3 - 6 * 8px);
    min-width: calc(960px / 3 - 6 * 8px);
}

.grid {
    max-width: 968px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0 auto;
}

.section-bis .grid {
    margin-top: 64px;
}
.card.container img {
    margin-top: 16px;
    width: 40%;
}

#social {
    margin-top: 32px;
}
.icon-a {
    color: #1BB0DB;
    text-decoration: none;
    margin: 4px;
    transition: color 0.4s;
}
.icon-a:hover {
    color: #1bdba6;
}
.or {
    font-weight: 300;
    margin-top: 32px;
    margin-bottom: 32px;
}
@media screen and (max-width: 380px) {
    .card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        min-width: 0px;
    }
    .grid {
        padding-left: 16px;
        padding-right: 16px;
    }
    .desc {
        font-size: 22px;
    }
}

@media screen and (max-width: 200px) {
    .card h4 {
        font-size: .8rem;
    }
    h2 {
        font-size: 1rem;
    }
    p {
        font-size: .8rem;
    }
    .profile {
        width: 45%;
        height: auto;
    }
}

@media screen and (max-height: 512px) {
    header {
        height: 70vh;
    }
}
