---
title: Home
menus:
  header:
    weight: 1
layout: page
---
<link rel="stylesheet" href="css/home.css">
<header class="full-width container shadow center-content">
    <p class="desc grid">
        I make, break and fix things.
    </p>
</header>
<div class="full-width container center-content section">
    <div class="grid">
        <img class="profile shadow" src="/assets/profile.jpg" alt="">
        <p>Hi! It's Eliseo Martelli.<br>I’m an Android and Web developer but I’m also into creative stuff.</p>
    </div>
</div>
<div class="full-width center-content section section-bis">
    <h2>Check out my projects</h2>
    <div class="grid">
      {% for app in site.data.apps %}
          <div class="card container shadow">
              <h3>{{ app.name }}</h3>
              <img src="{{ app.icon }}"></img><br>
              <a href={{ app.url }}>
                  <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
          </div>
        {% endfor %}
    </div>
</div>
<div class="full-width center-content container section">
    <h2>Get in touch</h2>
    <p style="font-weight: 300;">I love connecting with people :)</p>
    <div class="grid">
        <p id="social">
          {% for social in site.data.socials %}
                <a class="icon-a" href="{{ social.url }}" target="_blank">
                    <i class="fa fa-2x fa-{{ social.icon }}" aria-hidden="true"></i>
                </a>
          {% endfor %}
        </p>
        <p class="or">- or -</p>
        <p style="font-weight: 300;">email me:</p>
        <a class="icon-a email" href="mailto:me@eliseomartelli.it">me@eliseomartelli.it</a>
    </div>

</div>
<div class="full-width center-content section section-bis">
    <h2>Do you like my work?</h2>
    <p style="font-weight: 300;">You can donate to support development</p>
    <div class="grid">
        <a href="http://paypal.me/eliseomartelli">
            <img src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/blue-pill-paypal-60px.png" alt="PayPal">
        </a>
    </div>

</div>
