.title {
    color: #FF384E;
    padding-bottom: 0;
    margin-bottom: 0;
}

.link {
    text-decoration: none;
    color: inherit;
    margin-bottom: 16px;
}

.date {
    margin-top: 0;
    font-size: 0.75rem;
}