@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    margin: 0;
    padding: 0;
    background: #FAFAFA;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.profile-pic {
    position: relative;
    margin-bottom: calc(-192px/2);
    width: 192px;
    height: 192px;
    border-radius: 50%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.container {
    width: 800px;
    margin: 0 auto;
}

.card {
    margin-left: 16px;
    margin-right: 16px;
    background: #fff;
    border-radius: 4px;
    padding: 16px;
    padding-top: 128px;
    padding-bottom: 32px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

#main-container {
    position: relative;
    z-index: 3;
    margin-top: -256px;
}

p {
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-size: 16px;
}
p#name {
    font-size: 24px;
    color: #212121;
}
p#job {
    color: #505050;
}
p#email {
    color: #FF1744;
}
p#social {
    margin-top: 32px;
    color: #FF1744;
}

header .hero {
    height: 484px;
    width: 100vw;
    background: url(snow.png), url(snow1.png), linear-gradient(
      rgba(183, 28, 28, 0.8),
      rgba(183, 28, 28, 0.8)
    ),  url(hero.jpg);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover, cover;
    background-position: center;
    animation: snowfall 6s linear infinite;
}

@keyframes snowfall {
    0% {
      background-position: 0px 0px, 0px 0px, center, center;
    }
    50% {
      background-position:  256px 512px, 128px 256px,center, center;
    }
    100% {
      background-position:  512px 1024px, 256px 512px, center, center;
    }
}

.hero-img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    opacity: 0.6;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.merrychristmas {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  transform: perspective(1px) translateX(-50%) translateY(calc(-50% - 512px/4.4)) rotate(-6deg);
  font-size: 4rem;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px rgba(255,255,255, 0.2);
}

@media screen and (max-width: 832px) {
    .container {
        width: 100%;
    }
    header .hero {
        height: 384px;
    }
    .merrychristmas {
      font-size: 1.5rem;
    }
}

@media screen and (max-width: 256px) {
    .profile-pic {
        width: 60vw;
        height: 60vw;
        margin-bottom: -30vw;
    }

}

@media screen and (max-height: 512px) {
    header .hero {
        height: 300px;
    }
}

footer {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 12px;
    color: #666;
}
.fa {
    margin-left: 4px;
    margin-right: 4px;
}

.icon-a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

.icon-a:hover {
    color: #212121;
}

header {
  transform-style: preserve-3d;
}
