<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/35ac67c05d.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/master.css">
  <title>
    {% if page.title %}
      {% if site.titlecase %}
        {{ page.title | titlecase }}
      {% else %}
        {{ page.title }}
      {% endif %} - 
    {% endif %}
    {{ site.title }}
  </title>
  <meta name="author" content="{{ site.author }}">
  <link rel="apple-touch-icon" sizes="180x180" 
        href="/assets/static/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" 
        href="/assets/static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" 
        href="/assets/static/icons/favicon-16x16.png">
  <link rel="manifest" 
        href="/assets/static/icons/site.webmanifest">
  {% seo %}
</head>
