<div id="toolbar" class="toolbar shadow">
  <div class="content">
    <div class="logo" id="toolbar__logo" onclick="window.location = '/';">
      eliseo<span>martelli</span>
    </div>
    <input id="navigation__checkbox" type="checkbox" />
    <i id="navigation__check_indicator" class="material-icons"></i>
    <nav role="navigation">
      <ul>
        {% for item in site.menus.header %}
          {% assign current = nil %}
          {% if item.url == page.url or item.layout == page.layout %}
            {% assign current = 'current' %}
          {% endif %}
          <li class="{{ current }}">
            <a href="{{ item.url }}" 
                title="Go to {{ item.title }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>