{% include head.html %}
<body>
  {% include toolbar.html %}
  <div class="content">
    {{ content }}
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="shadow post-item">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          <p>
            {{ post.content | strip_html | truncatewords: 40 }}
          </p>
          <div style="text-align: right">
            <a class="readmore shadow" href="{{ post.url | relative_url }}">Read More</a>
          </div>
        </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>
  {% include footer.html %}
</body>
