@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  --background-color: #fff;
  --text-color: #212121;
  --logo-color: #555;
  --footer-background: #555;
  --footer-text-color: #fff;
  --sidemenu-text-color: #212121;
  --sidemenu-background-hover: #DDD;
  --sidemenu-background-current: #efefef;
  --readmore-backgound-color: #5A539E;
  --readmore-backgound-color-hover: #4A679E;
  --readmore-text-color: #fff;
  --shadow-color: rgba(0,0,0,0.16);
  --anchor-color: #212121;
  --code-background: #eee;
  background-color: var(--background-color);
  color: var(--text-color);
  --darkmode-background: #eee;
}

.nightmode {
  --background-color: #212121;
  --logo-color: #eee;
  --footer-background: #555;
  --footer-text-color: #fff;
  --sidemenu-text-color: #eee;
  --sidemenu-background-hover: #111;
  --sidemenu-background-current: #333;
  --readmore-backgound-color: #5A539E;
  --readmore-backgound-color-hover: #4A679E;
  --readmore-text-color: #fff;
  --text-color: #eee;
  --anchor-color: #fff;
  --code-background: #444;
  --shadow-color: rgba(255,255,255,0.16);
  --darkmode-background: #444;
}

.full-wide {
  width: 100%;
}

.shadow {
  box-shadow: 0px 3px 6px 0px var(--shadow-color);
}

.toolbar {
  height: 24px;
  position: fixed;
  top: 0;
  background: var(--background-color);
  padding: 14px 0px;
  font-size: 20px;
  z-index: 10;
}

.toolbar .logo {
  margin: 0 auto;
  display: inline-block;
  color: var(--logo-color);
}

.toolbar .logo__container {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
    font-weight: 300;
}

.logo span {
    font-weight: 700;
}

.content {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  margin-top: 51px;
  padding: 16px;
}

.toolbar .content {
  margin-top: 0;
  padding: 0;
}

.menuicon {
  font-size: 20px;
  color: var(--logo-color);
  display: block;
  position: absolute;
  margin-left: 14px;
}

footer {
    background: var(--footer-background);
    color: var(--footer-text-color);
    font-weight: 300;
    font-size: .8rem;
    padding-top: 8px;
    padding-bottom: 8px;
}

.center-content {
  text-align: center;
}

.post {
  padding: 16px;
}
.post img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.darkmode {
  position: absolute;
  bottom: 0;
  margin: 16px;
  padding: 32px;
  background: var(--darkmode-background);
  border-radius: 4px;
  display: block;
  cursor: pointer;
}

code {
  background: var(--code-background);
  border-radius: 4px;
  display: block;
  padding: 16px;
  overflow: auto;
}

.post-list {
  list-style: none;
}

.post-list li {
  margin-bottom: 24px;
  margin-left: -40px;
}

.readmore {
  display: inline-block;
  text-align: center;
  padding: 16px;
  background-color: var(--readmore-backgound-color);
  color: var(--readmore-text-color);
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.readmore:hover {
  background: var(--readmore-background-color-hover);
  margin-right: 8px;
}

.post-item {
  padding: 16px;
}

.sidemenu {
  position: fixed;
  top: 0;
  max-width: 500px;
  width: 70%;
  height: 100%;
  background: var(--background-color);
  z-index: 10000;
  left: -100%;
  transition: left 0.5s ease-in-out;
}

.sidemenu ul {
  transform: translateY(52px);
  padding: 0;
  margin: 0;
}

.sidemenu ul li {
  list-style: none;
  text-align: center;
}

.sidemenu ul li:hover {
  background: var(--sidemenu-background-hover);
}

.sidemenu ul li a {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 22px;
  padding: 16px;
  color: var(--sidemenu-text-color);
  text-decoration: none;
  display: block;
}

.sidemenu .current {
  background: var(--sidemenu-background-current);
}

.sidemenu .menuicon {
  margin-top: 14px;
}

a {
  color: var(--anchor-color);
}
