@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.full-wide {
  width: 100%;
}

.shadow {
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.toolbar {
  height: 24px;
  position: fixed;
  top: 0;
  background: white;
  padding: 14px 0px;
  font-size: 20px;
  z-index: 10;
}

.toolbar .logo {
  margin: 0 auto;
  display: inline-block;
  color: #555;
}

.toolbar .logo__container {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
    font-weight: 300;
}

.logo span {
    font-weight: 700;
}

.content {
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  margin-top: 51px;
  padding: 16px;
}

.toolbar .content {
  margin-top: 0;
  padding: 0;
}

.menuicon {
  font-size: 20px;
  color: #555;
  display: block;
  position: absolute;
  margin-left: 14px;
}

footer {
    background: #555555;
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
    padding-top: 8px;
    padding-bottom: 8px;
}

.center-content {
  text-align: center;
}

.post {
  padding: 16px;
}
.post img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

code {
  background: #EEE;
  border-radius: 4px;
  display: block;
  padding: 16px;
  overflow: scroll;
}

.post-list {
  list-style: none;
}

.post-list li {
  margin-bottom: 24px;
  margin-left: -40px;
}

.readmore {
  display: inline-block;
  text-align: center;
  padding: 16px;
  background-color: #5A539E;
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.2s ease;
}

.readmore:hover {
  background: #4A679E;
  margin-right: 8px;
}

.post-item {
  padding: 16px;
}

.sidemenu {
  position: fixed;
  top: 0;
  max-width: 500px;
  width: 70%;
  height: 100%;
  background: #fff;
  z-index: 10000;
  left: -100%;
  transition: left 0.5s ease-in-out;
}

.sidemenu ul {
  transform: translateY(52px);
  padding: 0;
  margin: 0;
}

.sidemenu ul li {
  list-style: none;
  text-align: center;
}

.sidemenu ul li:hover {
  background: #DDD;
}

.sidemenu ul li a {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 22px;
  padding: 16px;
  color: #212121;
  text-decoration: none;
  display: block;
}

.sidemenu .current {
  background: #eFeFeF;
}

.sidemenu .menuicon {
  margin-top: 14px;
}
