#canvas {
  display: absolute;
}

.hero {
  width: 100vw;
  display: block;
}
.motto {
	text-align: center;
}

.toolbar .content .logo {
  transition: all 100ms ease-in-out;
}
.toolbar .content .logo.big {
  font-size: 2em;
}

.hero .motto {
  margin: 0;
  padding: 0;
  font-size: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.section h2 {
  margin-top: 0;
  padding-top: 0;
}

.section-bis {
  background: #e6f7fc;
}

.profile-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 32px;
}

.card.app {
flex: 0 0 auto;
  margin: 8px;
  min-width: 160px;
}
.card.app:first-child {
	margin-left: 24px;
}
.card__container .card.app.last {
	margin-right: 32px;
}

.card.app h3 {
  margin-top: 0;
}

.card.app img.icon {
  width: 10vw;
  height: 10vw;
  min-width: 96px;
  max-width: 128px;
  min-height: 96px;
  max-height: 128px;
}

.card.app img {
  padding-left: 16px;
  padding-right: 16px;
  width: 10vw;
  min-width: 96px;
  max-width: 128px;
}
.ghostdiv {
	flex: 0 0 auto;
	width: 16px;
}

.card__container {
	display: flex;
	flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;
}

.card__container::-webkit-scrollbar {
	display: none;
}

.visitme {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 3%;
	padding-bottom: 3%;
	width: 10vw;      	
	display: block;
	background: #000;
	min-width: 96px;
	margin: 0 auto;
	border-radius: 4px;
	margin-top: 6px;
	color: #fff;
}
a.visitme {
	text-decoration: none;
}
a {
  color: #1BB0DB;
}
a.icon {
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}
a:hover {
  color: #1bdba6;
}

h1 {
  margin: 0;
}

@media screen and (max-width: 900px) {
  .card__container {
    justify-content: left;
  }
}

@media screen and (max-height: 400px), screen and (max-width: 500px) {
  .hero .motto {
    font-size: 2rem;
  }
}

.header {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 192px;
  background-image: linear-gradient(#80F5FF, #D1D5FF);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 4vw)
  );
}