#canvas {
  display: absolute;
}

.hero {
  width: 100vw;
  display: block;
}

.hero .motto {
  margin: 0;
  padding: 0;
  font-size: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.section h2 {
  margin-top: 0;
  padding-top: 0;
}

.section-bis {
  background: #e6f7fc;
}

.profile-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-bottom: 32px;
}

.card.app {
  margin-bottom: 16px;
  width: calc((100% - 32px) / 3 - 6 * 8px);
  display: inline-block;
  min-width: 128px;
}

.card.app:nth-child(2) {
  margin-left: 16px;
  margin-right: 16px;
}

.card.app h3 {
  margin-top: 0;
}

.card.app img {
  width: 66%;
  max-width: 128px;
}

@media screen and (max-width: 370px) {
  .card.app:nth-child(2) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

a {
  color: #1BB0DB;
}
a.icon {
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}
a:hover {
  color: #1bdba6;
}

h1 {
  margin: 0;
}

@media screen and (max-height: 400px), screen and (max-width: 500px) {
  .hero .motto {
    font-size: 2rem;
  }
}
