@import url('https://fonts.googleapis.com/css?family=Lato:300,700');
body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 16px;
}

.toolbar {
    width: 100%;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.4);
}
.toolbar .logo {
    font-size: 24px;
    display: inline-block;
}

.logo {
    font-family: 'Lato', sans-serif;
}
.logo span {
    font-weight: 700;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}