@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  color: #212121;
  overflow-x: hidden;
  width: 100%;
  position: relative;
  padding-bottom: 128px;
}

a {
  color: #a11c32;
  isolation: isolate;
}

html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.toolbar {
  z-index: 100;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  width: 100vw;
  background: #fff;
  transition: all .2s ease-in-out;
}

.toolbar .content i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.toolbar-transparent {
  background: rgba(0,0,0,0);
}

.toolbar .content .logo {
  text-align: center;
  font-size: 21px;
  font-weight: lighter;
  color: #212121;
}

.logo span {
  font-weight: bolder;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar .logo .txt {
  padding-left: 16px;
}

.card {
  padding: 16px;
  background: #fff;
  border-radius: 2px;
}

footer {
  background: #555;
  padding: 4px;
  margin-top: 128px;
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  right: 0; 
  left: 0;
  bottom: 0;
}

.side-menu {
  left: -100%;
  position: absolute;
  max-width: 400px;
  width: 66.6%;
  height: 100vh;
  display: block;
  background: #fff;
  transition: all .25s ease;
  pointer-events: all;
}

.side-menu__open {
  left: 0;
}

.sidemenu__container {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
}

.side-menu i {
  margin-top: 16px;
  margin-left: 16px;
}

.side-menu ul {
  list-style: none;
  margin-left: -40px;
}

.side-menu ul li {
  text-align: center;
  margin-left: -40px;
}

.side-menu ul li a {
  color: #212121;
  width: 100%;
  padding: 16px;
  padding-left: 48px;
  display: block;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
}
.side-menu ul li:hover {
  background: #ccc;
}
.side-menu ul li.current {
  background: #aaa;
}

/* Used by postlist */
.page-heading {
  padding-top: 80px;
}

ul.post-list {
  padding: 0;
  list-style: none;
}

ul.post-list li {
  margin-bottom: 32px;
}

ul.post-list li a{
  color: inherit;
  text-decoration: none;
}

ul.post-list li img {
  width: calc(100% + 32px);
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin: -16px;
  margin-bottom: 4px;
}

ul.post-list li .readmore {
  justify-self: end;
  padding: 16px;
  background: #da1e3e;
  color: #fff;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  transition: margin-right .25s ease-in-out;
}

ul.post-list li .readmore:hover {
  margin-right: 8px;
}

article img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

code {
  background: #eee;
  width: 90%;
  display: block;
  padding: 16px;
  overflow: scroll;
  border-radius: 4px;
}

code .s {
  color: darkorange;
}

code .na {
  color: darkblue;
}

.a2a_kit {
  margin-bottom: 16px;
}

.darkmode--activated .toolbar, .darkmode--activated .toolbar .logo {
  background: #111;
  color: #fff;
}

.darkmode--activated .shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
.darkmode--activated .side-menu {
  background: #000;
  color: #fff;
}

.darkmode--activated .side-menu ul li a {
  color: #ccc;
}
.darkmode--activated .side-menu ul li:hover {
  background: #212121;
}
.darkmode--activated .side-menu ul li.current {
  background: #212121;
}

.darkmode-toggle {
  z-index: 100000;
}

.darkmode--activated a :not(#post-link) {
  filter: hue-rotate(0deg);
}
.darkmode--activated a:hover :not(#post-link) {
  filter: hue-rotate(0deg);
}
.darkmode--activated #disqus_thread img {
  filter: hue-rotate(0deg);
}

.darkmode--activated #disqus_thread {
  filter: hue-rotate(0deg);
}

.darkmode--activated #disqus_thread * {
  color: #fff;
}
