.photo a {
  display: inline-block;
  padding-bottom: 16px;
  column-break-inside: avoid;
}

.photo a img {
  box-shadow: 0 2px 6px rgba(0,0,0,.2);
  border-radius: 4px;
}

.photo {
  padding-top: 16px;
  column-width: 320px;
}
