@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rehype-pretty-code-fragment] code {
  @apply max-w-xs;
  counter-reset: line;
  box-decoration-break: clone;
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}
