<hr />
<div class="footer-links">
  <a href="/">Home</a>
  <a href="/blog/">Blog</a>
  <a href="/about/">About</a>
  <a href="/photos/">Photos</a>
  <a href="/newsletter/">Newsletter</a>
  <a href="/tools/">Tools</a>
  <a href="/partnership/">Brand Partnerships</a>
  <a href="/brandpartnership-links/">Referral Links</a>
  <a href="/contact/">Contact</a>
  <a href="/feedback/">Feedback</a>
  <a href="/blog/feed.xml">RSS Feed</a>
</div>
<div class="footer-copyright">
  © 2015 - {{ now.Format "2006" }} - Eliseo Martelli
</div>
