{{ define "main" }}
<div>
  <section>
    <article>
      <ul style="list-style: none; padding-left: 0;">
        <li style="margin-bottom: 1rem;">
          <a href="/tools/filmcalc/">Film Development Calculator</a><br />
          <span>Calculate development times with push/pull and temperature adjustments.</span>
        </li>
        <li style="margin-bottom: 1rem;">
          <a href="/tools/dilution/">Dilution Calculator</a><br />
          <span>Calculate chemical and water volumes for photographic solutions.</span>
        </li>
        <li>
          <a href="/tools/print-layout/">Darkroom Print Layout Generator</a><br />
          <span>Calculate the geometric layout for darkroom prints and export a 1:1 scaled PDF.</span>
        </li>
      </ul>
    </article>
  </section>
</div>
{{ end }}
