<div id="nav" class="overlay">
  <div class="content" onclick="closeNav()">
    <span class="menuicon" onclick="closeNav()"><i class="material-icons">close</i></span>
    <ul>
      {% for item in site.menus.header %}
        {% assign current = nil %}
        {% if item.url == page.url or item.layout == page.layout %}
          {% assign current = 'current' %}
        {% endif %}
        <li>
          <a class="{{ current }}" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="shadow full-wide toolbar">
  <div class="content">
    <span class="menuicon" onclick="openNav()"><i class="material-icons">menu</i></span>
    <a class="logo__container" href="/">
      <div class="logo">
          eliseo<span>martelli</span>
      </div>
    </a>
  </div>
</div>

<script type="text/javascript">
  function openNav() {
    document.getElementById("nav").style.opacity = "1";
    document.getElementById("nav").style.visibility = "visible";

  }

  function closeNav() {
    document.getElementById("nav").style.opacity = "0";
    document.getElementById("nav").style.visibility = "hidden";
  }
</script>
