<!DOCTYPE html>
{% include head.html %}
<body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght:400;700&display=swap');
    </style>
  <script src="https://use.fontawesome.com/35ac67c05d.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
  <script>
    var options = {
      label: '🌓', // default
    }

    darkmode = new Darkmode(options);
    darkmode.showWidget();
  </script>
  {% include toolbar.html %}
  {{ content }}
  {% include footer.html %}
</body>
