{% include head.html %}
<body>
  <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
  <script>
    var options = {
      bottom: '64px', // default: '32px'
      mixColor: '#fff', // default: '#fff'
      backgroundColor: '#fff',  // default: '#fff'
      label: '🌓', // default: ''
      autoMatchOsTheme: true // default: true
    }

    darkmode = new Darkmode(options);
    darkmode.showWidget();
  </script>
  {% include toolbar.html %}
  {{ content }}
  {% include footer.html %}
</body>
