---
layout: content
---
{% if page.is_photo == true %}
  <link rel="stylesheet" href="/assets/css/photos.css">
  {% assign photo = "photo" %}
{% endif %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title page-heading" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time></p>
  </header>

  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_telegram"></a>
    <a class="a2a_button_whatsapp"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->

  <div class="post-content {{ photo }}" itemprop="articleBody">
    {% if page.is_photo == true %}
      {{ content | remove: '<p>' | remove: '</p>' }}
    {% else %}
      {{ content }}
    {% endif %}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>