---
layout: page
---
<ul class="post-list">
  {% assign date_format = "%b %-d, %Y" %}
  {% assign collection = site[page.collection] | sort: 'date' | reverse %}
  {% for post in collection %}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      <p>
        {{ post.content | strip_html | truncatewords: 10 }}
      </p>
    </li>
    <hr>
  {% endfor %}
</ul>
<p class="rss-subscribe">subscribe
  <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
</p>
