---
layout: content
---
<h1 class="page-heading">{{ page.title }}</h1>
<ul class="post-list">
  {% assign date_format = "%b %-d, %Y" %}
  {% assign collection = site[page.collection] | sort: 'date' | reverse %}
  {% for post in paginator.posts %}
    <li class="shadow card">
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      <p>
        {{ post.content | strip_html | truncatewords: 40 }}
      </p>
      <a class="readmore shadow" href="{{ post.url | relative_url }}">Read More</a>
    </li>
  {% endfor %}
</ul>
{% if paginator.total_pages > 1 %}
{% if paginator.previous_page %}
<a class="page-btn shadow" id="next" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
{% endif %}
{% if paginator.next_page %}
<a class="page-btn shadow" id="prev" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
{% endif %}
{% endif %}
<p class="rss-subscribe">subscribe
  <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>
</p>
